.background-container {
  background-image: url("../bg-image-weather-3.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: crisp-edges;
}

.page-title {
  padding-top: 1em;
  color: white;
}

.input-form {
  margin-top: 1em;
}

.form {
  margin-bottom: 1em;
  width: 30%;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
}

.btn {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .form {
    width: 60%;
  }

  .page-title {
    font-size: 110%;
  }
}
