.weather {
  /* background-color: coral; */
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-container {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}

.weather-data {
  /* width: 40%; */
  border: 2px solid coral;
  border-radius: 25px;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0.5rem;
  background-color: rgb(247, 247, 247);
}
